bower_components/*

!bower_components/angular
bower_components/angular/*
!bower_conponents/angular/angular.js

!bower_conponents/angular-route
bower_conponents/angular-route/*
!bower_conponents/angular-route/angular-route.js

!bower_conponents/bootstrap
bower_conponents/bootstrap/*
!bower_conponents/bootstrap/dist
bower_conponents/bootstrap/dist/*

!bower_conponents/bootstrap/dist/css
bower_conponents/bootstrap/dist/css/*
!bower_conponents/bootstrap/dist/css/bootstrap.css

!bower_conponents/bootstrap/dist/js
bower_conponents/bootstrap/dist/js*
!bower_conponents/bootstrap/dist/js/bootstrap.js
