<h3>{{userCtrl.user.firstName}} {{userCtrl.user.lastName}}'s Account Information</h3>

<table>
  <tr>
    <th ng-click="userCtrl.doSort('email')">Email</th>
    <th ng-click="userCtrl.doSort('firstName')">First Name</th>
    <th ng-click="userCtrl.doSort('lastName')">Last Name</th>
    <th ng-click="userCtrl.doSort('admin')">Admin</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <td>{{ userCtrl.user.email }}</td>
    <td>{{ userCtrl.user.firstName }}</td>
    <td>{{ userCtrl.user.lastName }}</td>
    <td>{{ userCtrl.user.admin }}</td>
    <td><a href="{{user.id}}">Update Account</a></td>
    <td><a href="{{user.id}}">Delete Account</a></td>
  </tr>
</table>
<br><br>
<footer>Version: {{ appSettings.version }}</footer>
