<h1>{{appSettings.title}}</h1>
<!-- title, content, image, date  -->
<section id="cd-timeline" class="cd-container">

	<!-- begin event block -->
	<div class="cd-timeline-block" ng-repeat="event in tIndexCtrl.events">
		<div class="cd-timeline-img cd-picture">
			<img src="img/internet-icon.png" alt="Icon">
		</div> <!-- timeline icon -->

		<div class="cd-timeline-content">
			<h2>{{event.title}}</h2>
			<p>{{event.caption}}</p>
			<a href="#/events/{{event.id}}" class='show-event'>Show Event</a> <!-- {{event.id}} -->
			<span class="cd-date">{{event.date}}</span>
		</div> <!-- end content block -->
	</div>
	<!-- end event block -->

</section> <!-- cd-timeline -->
<footer>Version: {{ appSettings.version }}</footer>
