<h3>{{userCtrl.user.fName}} {{userCtrl.user.lName}}'s Information</h3>

<table>
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Admin</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <td>{{ userCtrl.user.email }}</td>
    <td>{{ userCtrl.user.fName }}</td>
    <td>{{ userCtrl.user.lName }}</td>
    <td>{{ userCtrl.user.admin }}</td>
    <td><a href="{{user.id}}">Update Account</a></td>
    <td><a href="{{user.id}}">Delete Account</a></td>
  </tr>
</table>
<br><br>
<footer>Version: {{ appSettings.version }}</footer>
